<footer class="bg-footer">    
  <div class="w-100 bg-dark py-3">
    <div class="container">
        <div class="row pt-2">
            <div class="col-lg-6 col-12">
                <p class="text-lg-start text-center text-light light-300">
                    © Copyright 2022 - Datos de API SMN - Todos los derechos reservados.
                </p>
            </div>
            <div class="col-lg-6 col-12">
                <p class="text-lg-end text-center text-light light-300">
                    Diseñado por <a class="text-decoration-none text-light" 
                href="https://github.com/ayeAlvo/apidelClima" target="_blank"><strong>Aye Alvo ></strong></a>
                </p>
            </div>
        </div>
    </div>
  </div>    
</footer>    