<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <i class="fas fa-rainbow d-inline-block" width="30" height="24"></i>
      <!-- <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top"> -->
      ClimaDina
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
      </ul>
      <label class="navbar-brand">Selecciona una Provincia</label>
      <% if(locals.provinces){ %> 
      <form action="/" method="post" class="nav-item">
        <select name="valor" class="form-select">
          <% locals.provinces.forEach(province => {%>  
          <option value='<%= province %>' name='valor'>
            <%= province %>
          </option>
          <% }) %> 
        </select>
        <button type="submit" class="btn btn-outline-light mt-2">Consultar</button>
      </form>
      <% } %> 
    </div>
  </div>
</nav>